<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="FarPoint.Win.Spread" publicKeyToken="327C3516B1B18457" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.2007.2005" newVersion="2.5.2007.2005"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
