<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <add key="MSSQLCLIENT" value="data source=gyhis;password=barcode;persist security info=True;user id=barcode" />
  <add key="ExeFilePath" value="\his.exe" />
  <add key="UpdateTime" value="2006-6-19 17:06:50" />
  <!--value 1 auto down load files  else maintenance files -->
  <add key="DOWNLOAD" value="1" />
</configuration>